In [2]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
#from pymongo import MongoClient
import warnings
import datetime
import csv
import os
import datetime
warnings.filterwarnings(action='ignore')

In [3]:
df_me = pd.read_csv('./ecm_raw_data.csv')

In [11]:
for col in ['exthum','enhum','temp','entemp','extemp','f3_hum','f10_temp','f10_hum','f3_temp']:
    q1 = df_me[col].quantile(0.25)
    q3 = df_me[col].quantile(0.75)
    iqr = q3-q1

    condition1 = df_me[col] > q3+1.5*iqr
    a = df_me[condition1].index
    condition2 = df_me[col] < q1 - 1.5*iqr
    b = df_me[condition2].index
    df_me = df_me.drop(a)
    df_me = df_me.drop(b)

In [12]:
df_me = pd.merge(dfh_2477['timestamp_min'], df_me, on = ['timestamp_min'], how = 'left')

In [13]:
#센서 전처리 부분(임시)
# 데이터가 없는 부분을 채우는 부분 - 앞 뒤 데이터를 동일 데이터로 입력
df_me.fillna(method='ffill', inplace = True) # 신규 변경 부분
df_me.fillna(method='bfill', inplace = True) # 신규 변경 부분

In [14]:
df_me

,timestamp_min,exthum,enhum,temp,entemp,extemp,cammode,outstatus_0x0001,f3_hum,f10_temp,f10_hum,f3_temp
0,2019-08-21 16:37:00,59.6,85.6,81.5,29.2,27.3,4.0,1.0,57.37,26.77,51.87,25.47
1,2019-08-21 16:38:00,59.4,85.4,107.6,29.2,27.1,4.0,1.0,57.37,26.77,51.87,25.47
2,2019-08-21 16:39:00,57.3,85.4,105.2,29.2,27.3,4.0,1.0,57.27,26.77,51.85,25.50
3,2019-08-21 16:40:00,58.3,85.6,82.5,29.2,27.5,4.0,1.0,57.27,26.77,51.87,25.60
4,2019-08-21 16:41:00,59.5,85.8,76.9,29.2,27.3,4.0,1.0,57.20,26.77,51.85,25.60
...,...,...,...,...,...,...,...,...,...,...,...,...
91647,2019-10-24 23:55:00,52.6,83.1,40.0,19.9,20.8,4.0,0.0,36.72,22.32,40.12,23.62
91648,2019-10-24 23:56:00,52.8,82.8,40.0,19.9,20.8,4.0,0.0,36.72,22.42,40.10,23.62
91649,2019-10-24 23:57:00,52.8,83.0,40.0,19.9,20.8,4.0,0.0,36.85,22.42,40.12,23.62
91650,2019-10-24 23:58:00,52.9,83.0,40.0,19.9,20.8,4.0,0.0,36.72,22.42,39.95,23.62
91651,2019-10-24 23:59:00,52.9,83.1,39.9,19.9,20.8,4.0,0.0,36.80,22.42,40.02,23.62

In [15]:
#OFF 데이터 추가 - 운영 모드 데이터 추가하기 전에 OFF 데이터 추가함.
df_me['new_cammode'] = df_me['cammode'] 
df_me['new_cammode'].loc[df_me['outstatus_0x0001'] == 0] = 0

In [16]:
#SET_MODE One hot encoding

set_mode_status = {
    0: '0', # 전원 OFF
    1: '1', # 송풍모드
    2: '2', # 가온모드
    3: '3', # 송풍+제습
    4: '4', # 냉각
    5: '5', # 냉각+제습
    6: '6', # 가온+제습
}

for i in set_mode_status.keys():
    s = "SET_MODE_" + str(i)
    df_me[s] = 0
    df_me[s].loc[df_me['new_cammode'] == i] = 1

In [17]:
input_feature = ['timestamp_min','f3_hum','f10_hum','f3_temp','f10_temp','exthum','enhum','temp','entemp','extemp','SET_MODE_0','SET_MODE_1','SET_MODE_2','SET_MODE_3','SET_MODE_4','SET_MODE_5','SET_MODE_6']

In [18]:
temp= df_me[input_feature]

In [19]:
temp = temp[['timestamp_min','f3_hum','f10_hum','f3_temp','f10_temp','exthum','enhum','temp','entemp','extemp','SET_MODE_0','SET_MODE_1','SET_MODE_2','SET_MODE_3','SET_MODE_4','SET_MODE_5']]

In [21]:
temp

,timestamp_min,f3_hum,f10_hum,f3_temp,f10_temp,exthum,enhum,temp,entemp,extemp,SET_MODE_0,SET_MODE_1,SET_MODE_2,SET_MODE_3,SET_MODE_4,SET_MODE_5
0,2019-08-21 16:37:00,57.37,51.87,25.47,26.77,59.6,85.6,81.5,29.2,27.3,0,0,0,0,1,0
1,2019-08-21 16:38:00,57.37,51.87,25.47,26.77,59.4,85.4,107.6,29.2,27.1,0,0,0,0,1,0
2,2019-08-21 16:39:00,57.27,51.85,25.50,26.77,57.3,85.4,105.2,29.2,27.3,0,0,0,0,1,0
3,2019-08-21 16:40:00,57.27,51.87,25.60,26.77,58.3,85.6,82.5,29.2,27.5,0,0,0,0,1,0
4,2019-08-21 16:41:00,57.20,51.85,25.60,26.77,59.5,85.8,76.9,29.2,27.3,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91647,2019-10-24 23:55:00,36.72,40.12,23.62,22.32,52.6,83.1,40.0,19.9,20.8,1,0,0,0,0,0
91648,2019-10-24 23:56:00,36.72,40.10,23.62,22.42,52.8,82.8,40.0,19.9,20.8,1,0,0,0,0,0
91649,2019-10-24 23:57:00,36.85,40.12,23.62,22.42,52.8,83.0,40.0,19.9,20.8,1,0,0,0,0,0
91650,2019-10-24 23:58:00,36.72,39.95,23.62,22.42,52.9,83.0,40.0,19.9,20.8,1,0,0,0,0,0
91651,2019-10-24 23:59:00,36.80,40.02,23.62,22.42,52.9,83.1,39.9,19.9,20.8,1,0,0,0,0,0

In [49]:
df_pre_mode = temp[['SET_MODE_0','SET_MODE_1','SET_MODE_2','SET_MODE_3','SET_MODE_4','SET_MODE_5','SET_MODE_6']]

In [50]:
df_mode_t = pd.concat([df_pre_mode[10:],df_pre_mode[-10:]],ignore_index=True)
df_mode_t = df_mode_t.set_index(temp.index)

In [52]:
temp[['SET_MODE_0','SET_MODE_1','SET_MODE_2','SET_MODE_3','SET_MODE_4','SET_MODE_5','SET_MODE_6']] = df_mode_t

In [53]:
temp = temp[temp.columns[:-1]]

In [54]:
temp.columns = ['timestamp_min','f3_hum','f10_hum','f3_temp','f10_temp','exthum','enhum','temp','entemp','extemp','F_SET_MODE_0','F_SET_MODE_1','F_SET_MODE_2','F_SET_MODE_3','F_SET_MODE_4','F_SET_MODE_5']

In [55]:
temp

,timestamp_min,f3_hum,f10_hum,f3_temp,f10_temp,exthum,enhum,temp,entemp,extemp,F_SET_MODE_0,F_SET_MODE_1,F_SET_MODE_2,F_SET_MODE_3,F_SET_MODE_4,F_SET_MODE_5
0,2019-08-21 16:37:00,57.37,51.87,25.47,26.77,59.6,85.6,81.5,29.2,27.3,0,0,0,0,1,0
1,2019-08-21 16:38:00,57.37,51.87,25.47,26.77,59.4,85.4,107.6,29.2,27.1,0,0,0,0,1,0
2,2019-08-21 16:39:00,57.27,51.85,25.50,26.77,57.3,85.4,105.2,29.2,27.3,0,0,0,0,1,0
3,2019-08-21 16:40:00,57.27,51.87,25.60,26.77,58.3,85.6,82.5,29.2,27.5,0,0,0,0,1,0
4,2019-08-21 16:41:00,57.20,51.85,25.60,26.77,59.5,85.8,76.9,29.2,27.3,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91647,2019-10-24 23:55:00,36.72,40.12,23.62,22.32,52.6,83.1,40.0,19.9,20.8,1,0,0,0,0,0
91648,2019-10-24 23:56:00,36.72,40.10,23.62,22.42,52.8,82.8,40.0,19.9,20.8,1,0,0,0,0,0
91649,2019-10-24 23:57:00,36.85,40.12,23.62,22.42,52.8,83.0,40.0,19.9,20.8,1,0,0,0,0,0
91650,2019-10-24 23:58:00,36.72,39.95,23.62,22.42,52.9,83.0,40.0,19.9,20.8,1,0,0,0,0,0
91651,2019-10-24 23:59:00,36.80,40.02,23.62,22.42,52.9,83.1,39.9,19.9,20.8,1,0,0,0,0,0

In [275]:
temp.to_feather('./ecm_input.ftr')